input:focus ~ label,
input:valid ~ label {
  top: -30px;
  font-size: 15px;
  color: #03a9f4;
}
select:focus ~ label,
select:valid ~ label {
  top: -30px;
  font-size: 15px;
  color: #03a9f4;
}
textarea:focus ~ label,
textarea:valid ~ label {
  top: -30px;
  font-size: 15px;
  color: #03a9f4;
}
